img{
    float: left;
}
body{

    background-color: hsl(30, 38%, 92%);
    display:flex; 
    justify-content:center; 
    align-items:center;
}
.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    width: 640px;
    
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%);
}
img{
    width: 320px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content{
    background-color:white;
    padding: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}
h1{
    font-family: 'Fraunces', serif;
    line-height: 110%;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 180%;
    margin-top: 20px;
    margin-bottom: 25px;
}
.price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 32px;
    margin-right: 20px;
}
.priceBefore{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    vertical-align: super;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 17px;
    margin-top: 30px;
}
button:hover {
    background-color: hsl(212, 21%, 14%)
}
button div{
    display: flex;
    justify-content: center;
    align-items: center;
}
button img{
    width: auto;
}